.op{
    &__content{
        text-align: center;
        padding: 108px 3px 96px 3px;
        h1{
            color: #212121;
            font-family: Raleway;
            font-size: 36px;
            font-weight: 400;
            line-height: 43px;
            text-transform: uppercase;
            &:after{
                content: " ";
                display: block;
                width: 64px;
                height: 2px;
                position: relative;
                margin: 0 auto;
                margin-top: 30px;
                margin-bottom: 30px;
                background-color: #ff8b38;
            }
        }
        p{
            color: #86878b;
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }
    &__list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 71px;
    }
    &__item{
        max-width: 371px;
        padding:9px;
        i{
            height: 70px;
            width: 70px;
            color: #ff8b3d;
            font-size: 32px;
            border: 2px solid #ff8b3d;
            border-radius: 50%;
            text-align: center;
            padding-top: 18px;
            padding-left: 2px;
        }
        h2{    
            color: #333333;
            font-family: Open Sans;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            margin-top: 29px;
            margin-bottom: 25px;
        }
        p{
            color: #86878b;
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }
}